github "Alamofire/Alamofire" ~> 4.7
github "ReactiveCocoa/ReactiveCocoa" ~> 8.0
github "Skyscanner/SkyFloatingLabelTextField"
github "SnapKit/SnapKit" ~> 4.0.0
github "tjwio/SwiftFeather" "master"
github "tw23/GSMessages" "fix/access_control"
github "evgenyneu/keychain-swift" ~> 11.0
github "SDWebImage/SDWebImage"
github "davidstump/SwiftPhoenixClient" ~> 0.9
github "bitstadium/HockeySDK-iOS"
